.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 32px;
  font-family: "Roboto", sans-serif;
}

.error {
  color: red;
}

.coin-container {
  display: flex;
  flex-wrap: wrap;
}

.error-message {
  position: absolute;
  left: 50%; /* position the left edge in the middle of the viewport */
  transform: translate(
    -50%
  ); /* shift the element back by half of its width and height */
  padding: 10px;
  background-color: #f8d7da; /* light red */
  color: #721c24; /* dark red */
  border-color: #f5c6cb; /* medium red */
  border-radius: 5px;
  z-index: 1000; /* ensure it appears above other elements */
}
