.coin-card {
  margin: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  width: 300px;
}

.coin-name {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.coin-symbol {
  font-size: 20px;
  color: #666666;
  font-style: italic;
}

.coin-price {
  font-size: 20px;
  color: #333333;
}

.coin-market-cap {
  font-size: 16px;
  color: #333333;
}

.coin-last-update {
  font-size: 14px;
  color: #333333;
}

.remove-button {
  margin-top: 13px;
  margin-right: 10px;
  background-color: red;
}

.remove-button:hover {
  background-color: darkred;
}

.chart-button {
  margin-top: 13px;
}

.dialog-title {
  font-size: 30px;
  text-align: center;
}

.close-chart-box {
  display: flex;
  justify-content: center;
}

.close-chart-button {
  margin-top: 10px;
  width: 200px;
  background-color: red;
}

.close-chart-button:hover {
  background-color: darkred;
}
