.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.symbol {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.marketcap {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.remove {
  background-color: #f00;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 5px;
}
